{{#if enabled}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "cancel") origin=dialogOrigin}}

    {{#paper-form onSubmit='submit' as |form|}}

      {{#paper-dialog-content}}

        <h2 class="md-title">Edit Course: <span>{{course.cid}}</span></h2>

        <div>
          <div class="layout-row">Seasons offered: <strong>{{seasonsOffered}}</strong></div>
        </div>

      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>

        {{#paper-button onClick=(action 'cancel')}}Cancel{{/paper-button}}

        {{#paper-button primary=true warn=true disabled=form.isInvalid onClick=(action form.onSubmit)}}
          <div class="layout-row">
            <div class="">
              Save
            </div>
            <div class="">
              {{! Loading spinner}}
              {{#if isRequesting}}
                {{paper-progress-circular warn=true class="md-hue-3" diameter="40%"}}
              {{/if}}
            </div>
          </div>
        {{/paper-button}}
        <!-- {{!#paper&#45;button primary=true warn=true disabled=form.isInvalid onClick=(action form.onSubmit)}}Save{{!/paper&#45;button}} -->
      {{/paper-dialog-actions}}
    {{/paper-form}}

  {{/paper-dialog}}
{{/if}}
