<div class="layout-row form-toolbar">
  <div class="layout-column">
    {{! TODO: Removing filter until figure out how to make it work with 760+ records }}
    {{!paper-input class="input" flex=30 label="Search by title..." value=titleFilter onChange=(action (mut titleFilter))}}
    <p class="no-space-top">
      In this page you can create req-trees that facilitate the calculation of
      student timelines. Courses are inherently leaves in every tree, since their
      children are defined in their own req-tree (as opposed to a major/minor
      req-tree that might contain them).
    </p>
  </div>
</div>

{{#paper-content noink=true}}
  {{#paper-list noink=true}}
    {{#each filteredItems as |item|}}
      {{#paper-item noink=true class="md-3-line list-item"}}
        <div class="md-list-item-text list-item-text">
          <div class="flex-100 layout-row layout-align-space-between">
            {{yield item}}
          </div>
        </div>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
