html, body, body > .ember-view {
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

a, a * {
  text-decoration: none;
  color: auto;
}

.list-item.ember-view {
  min-height: 0px;
}

.paper-list > .list-item > .md-list-item-inner {
  min-height: 0px;
  padding: 10px 15px;
}

.uppercase {
  text-transform: capitalize;
}

.ellipsis-230 {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.ellipsis-300 {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.header {
  min-height: 150px
}

.application-view {
  height: 100%;

  // nested views
  @import 'index';
  @import 'page-not-found';
  @import 'users';
  @import 'user';
}

.form-toolbar {
  border-bottom: 1px solid #ad102f;
  .input {
    margin: 0px;
  }
}
