.user-view {
  height: 100%;

  .user-content {
    height: 100%;

    .md-sidenav-left {
      .header {
      }
    }
    // located inside child template (not user template)
    .user-inner-content {
      padding: 0px 25px;
    }
  }

  // nested views
  @import 'user/dashboard';
  @import 'user/settings';
  @import 'user/onboard';
}
