.user-view.admin-view {
  .admin-bg-color {
    background-color: #ad102f;
  }
  .tree {
    padding-left: 15px;
    width: 100%;
  }
  p.node-children {
    padding-left: 20px;
  }
  .input.inline {
    margin: 18px 0px 0px 0px;
  }
  .no-space-left {
    margin-left: 0px;
    padding-left: 0px;
  }
  .node {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    .md-errors-spacer {
      display: none;
    }
  }
  .node.non-root {
    margin-left: 10px;
  }
  .node.type-pivot {
    background-color: rgba(250,250,0,.3);
  }
  .node.type-course {
    background-color: rgba(0,100,250,.3);
  }
}
.user-view {
  height: 100%;

  .user-content {
    height: 100%;
    .main-content {
      overflow-y: scroll;
    }
    .md-sidenav-left {
      .header {
        .header-inner {
          .logo * {
            margin-bottom: 10px;
          }
          .slogan {
            margin-top: 20px;
            text-align: center;
          }
        }
      }
    }
    // located inside child template (not user template)
    .user-inner-content {
      padding: 25px 25px 0px 25px;
    }
  }

  // nested views
  @import 'user/dashboard';
  @import 'user/settings';
  @import 'user/onboard';
}
