.grayed {
  color: #999;
}
.disabled {
  opacity: .3;
}
.node {
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  .md-errors-spacer {
    display: none;
  }
}
.node-wrapper.hidden {
  display: none;
}
.node-wrapper.non-root {
  margin-left: 20px;
}
.node.type-root {
  background-color: rgba(0,0,0,.1);
}
.node.type-pivot {
  background-color: rgba(250,250,0,.3);
}
.node.type-course {
  background-color: rgba(0,100,250,.3);
}

.decision-tree {
  .node-wrapper.non-root {
    border-left: 1px dashed #ccc;
  }
}
