.list-editor-component {
  .select-with-search {
    width: 100%;
  }
}
.searchbox {
  outline: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  height: 100%;
  width: 100%;
  padding: 10px 15px;
}
