<div class="flex-100 layout-column">

  {{save-button model=model}}
  {{#paper-button}}
    <div class="flex-100 layout-row">
      <h4 class="spacey-h4"><strong>{{model.cid}}</strong>: {{model.title}}</h4>
    </div>
  {{/paper-button}}

  {{tree-editor class="flex-100" tree=model.tree}}

</div>
