<div class="dashboard-view user-inner-content">
  <h3>Dashboard</h3>

  {{#paper-content class="md-whiteframe-z1 list-demo list-controls-demo"}}
    <p>Dashboard to contain the active timeline and the majority of all Reqourse features.</p>
  {{/paper-content}}
</div>
