<p>Settings that user can edit (but not directly related to timeline maping, otherwise they'll be configurable within the vertical toolbar of the dashboard).</p>

<button {{action 'logout'}}>Logout</button>
{{outlet}}
