<div class="school-view">

  <div class="layout-column">
    <h3>Select your school</h3>
  </div>

  <div id="form" class="layout-column form">

    {{#paper-form onSubmit='saveAndContinue' as |form|}}

      {{#paper-select
        placeholder="Select your school"
        value=displayedSchoolTitle
        onChange=(action (mut selectedSchoolTitle))
      }}
        {{#each model.schools as |school|}}
          {{#paper-option value=school.title}}
            {{school.title}}
          {{/paper-option}}
        {{/each}}
      {{/paper-select}}

      <div class="layout-row">
        {{#paper-button disabled=continueDisabled raised=true primary=true onClick=(action form.onSubmit)}}
          <div class="layout-row">
            <div class="">
              Save and Continue
            </div>
            <div class="">
              {{! Loading spinner}}
              {{#if isRequesting}}
                {{paper-progress-circular warn=true class="md-hue-3" diameter="40%"}}
              {{/if}}
            </div>
          </div>
        {{/paper-button}}
      </div>

    {{/paper-form}}
  </div>

</div>
