<div class="degree-path-view">

  <div class="layout-column">
    <h3>Select your major(s) and minor(s)</h3>
  </div>

  <div id="form" class="layout-column form">

    {{! Majors }}
    {{! Insert, List, Delete }}
    {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='degreeMajors' itemModelAlias='major' onChange=(action 'updateContinueButton')}}

    {{! Minors }}
    {{! Insert, List, Delete }}
    {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='degreeMinors' itemModelAlias='minor'}}

    <div class="layout-row">
      {{#paper-button disabled=continueDisabled raised=true primary=true onClick=(action 'continueOn')}}
        <div class="layout-row">
          <div class="">
            Continue
          </div>
          <div class="">
            {{! Loading spinner}}
            {{#if isRequesting}}
              {{paper-progress-circular warn=true class="md-hue-3" diameter="40%"}}
            {{/if}}
          </div>
        </div>
      {{/paper-button}}
    </div>

  </div>

</div>

