<div class="prior-coursework-view layout-column">
  <div>
    <h3>Select the courses that you've satisfied</h3>
  </div>

  <div id="form" class="layout-column form">
    {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='courses' itemModelAlias='course'}}
  </div>

  <div class="layout-row">
    {{#paper-button disabled=continueDisabled raised=true primary=true onClick=(action 'continueOn')}}
      <div class="layout-row">
        <div class="">
          Continue to Dashboard
        </div>
        <div class="">
          {{! Loading spinner}}
          {{#if isRequesting}}
            {{paper-progress-circular warn=true class="md-hue-3" diameter="40%"}}
          {{/if}}
        </div>
      </div>
    {{/paper-button}}
  </div>

</div>
