<h1>(Application Template)</h1>
<h2>Application Models:</h2>
<ul>
  <li>{{#link-to "schools"}}Schools{{/link-to}}  </li>
  <li>{{#link-to "users"}}Users{{/link-to}}    </li>
  <li>{{#link-to "nodes"}}Nodes{{/link-to}}    </li>
  <li>{{#link-to "courses"}}Courses{{/link-to}}  </li>
  <li>{{#link-to "quarters"}}Quarters{{/link-to}} </li>
  <li>{{#link-to "timelines"}}Timelines{{/link-to}}</li>
</ul>
{{outlet}}
