<h2>Reqourse Models</h2>
<ul>
  <li>{{#link-to "models.schools"}}Schools{{/link-to}}  </li>
  <li>{{#link-to "users"}}Users{{/link-to}}    </li>
  <li>{{#link-to "models.nodes"}}Nodes{{/link-to}}    </li>
  <li>{{#link-to "models.courses"}}Courses{{/link-to}}  </li>
  <li>{{#link-to "models.quarters"}}Quarters{{/link-to}} </li>
  <li>{{#link-to "models.timelines"}}Timelines{{/link-to}}</li>
</ul>
{{outlet}}
